.resume-container {
  display: flex;
  font-family: 'Arial', sans-serif;
}

.resume-sidebar {
  width: 30%;
  background-color: #2d3a3f;
  color: white;
  padding: 20px;
}


.resume-sidebar section {
  margin-bottom: 25px; /* increases spacing between components */
}

.resume-main {
  width: 70%;
  padding: 20px;
}

.resume-header {
  text-align: center;
}
.profile-pic-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  /* Responsive: scales down on smaller screens */
}

.personal-details-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.personal-details-list li {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .profile-pic-container {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 480px) {
  .profile-pic-container {
    width: 100px;
    height: 100px;
  }
}


.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fits nicely inside the rounded container */
  border-radius: 50%; /* Round the image */
}



.resume-header h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.title {
  font-size: 1.2rem;
  color: #b0c4b1;
}

/* .profile-section h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #b0c4b1;
  border-bottom: 2px solid #ddd;
}

.profile-section p {
  font-size: 1.1rem;
  color: #ddd;
} */

section {
  margin-bottom: 20px;
}

section h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.skills-list, .languages-list, .hobbies-list {
  list-style-type: none;
  padding: 0;
}

.skills-list li, .languages-list li, .hobbies-list li {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.experience-item, .education-item {
  margin-bottom: 15px;
}

.company {
  font-weight: normal;
  color: #555;
}

.duration {
  color: #888;
  font-size: 1rem;
}

.kv-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.kv-key {
  width: 120px; /* adjust width as needed */
  text-align: left;
}

.kv-colon {
  margin: 0 8px;
}

.kv-value {
  flex: 1;
  text-align: left;
}

.resume-sidebar,
.resume-main {
  text-align: left;
}

